<div class="myContainer">
    <div class="jumbotron">
        <h1><img src="images/Ulysse.png" tilte="I'm ULYSSE"> ULYSSE</h1>
        <p class="lead">
            Outil d'Aide à la Conception des Emplois du Temps.
        </p>
        <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>-->
    </div>
</div>
<div class="myContainer">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Informations générales</h3>
                </div>
                <div class="panel-body">
                    <h4>Objectifs de l'outil</h4>
                    <p>
                        Objectifs content...
                    </p>
                    <h4>Principales fonctionnalités</h4>
                    <p>Fonctionalités content...</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Acces aux fonctionnalites principales</h3>
                </div>
                <div class="panel-body">
                    <h4>Sondage</h4>
                    <p>
                        Sondage content...
                    </p>
                    <h4>Conception des Emplois du Temps</h4>
                    <p>Conception content...</p>
                    <h4>Administration de l'outil</h4>
                    <p>Administration content...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="myContainer">
    <div class="footer">
        <p><a href="#" title="Par le chapeau de paille"> ♥ from Mugiwarabōshi</a></p>
    </div>
</div>